<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'splide-core.min.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}

    <script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'splide.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'icons.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
