<div class="pb-96">
  <div class="relative grid h-80 items-center overflow-hidden">
    <button class="absolute ml-4 flex h-10 w-10 items-center justify-center self-center justify-self-start rounded-full bg-my-white text-my-very-dark-blue">
      <svg
        width="12"
        height="18"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11 1 3 9l8 8"
          stroke="currentColor"
          stroke-width="3"
          fill="none"
          fill-rule="evenodd" />
      </svg>
    </button>
    <img class="h-full w-full object-cover" src="{{ 'image-product-1.jpg' | asset_url}}">
    <button class="absolute mr-4 flex h-10 w-10 items-center justify-center self-center justify-self-end rounded-full bg-my-white text-my-very-dark-blue">
      <svg
        width="13"
        height="18"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="m2 1 8 8-8 8"
          stroke="currentColor"
          stroke-width="3"
          fill="none"
          fill-rule="evenodd" />
      </svg>
    </button>
  </div>
  <product-form>
    {% form 'product', product %}
      <div class="m-4">
        <h6 class="text-sm- mb-2 font-bold text-my-orange">SNEAKER COMPANY</h6>
        <h1 class="text-3xl font-bold text-my-very-dark-blue">{{ product.title }}</h1>
        <p class="mt-4 text-my-dark-grayish-blue">
          {{ product.description | strip_html }}
        </p>
        <div class="my-6 flex items-center">
          <h6 class="text-3xl font-bold">{{ product.price | money }}</h6>
          <span class="mx-4 rounded-md bg-my-pale-orange px-2 py-1 font-bold text-my-orange">
            {% assign regularPrice = product.compare_at_price | divided_by: 1 %}
            {% assign salePrice = product.price | divided_by: 1 %}

            {% if regularPrice and salePrice %}
              {% assign percentage = regularPrice | minus: salePrice | times: 100 | divided_by: regularPrice %}
              {{ percentage | round: 2 }}%
            {% endif %}
          </span>
          <span class="ml-auto text-lg font-bold text-my-dark-grayish-blue line-through">
            {{ product.compare_at_price | money }}
          </span>
        </div>
        {% if product.variants.size == 1 %}
          <input
            type="hidden"
            name="id"
            value="{{product.variants[0].id}}" />
        {% elsif product.variants.size > 1 %}
          <label for="variants" class="block mb-2 text-sm font-bold text-my-very-dark-blue">Options</label>
          <select
            id="variants"
            name="id"
            class="block w-full p-2 py-4 mb-4 text-my-very-dark-blue border rounded-md bg-my-light-grayish-blue focus:ring-blue-500 focus:border-blue-500">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
          </select>
        {% endif %}
        <div class="grid grid-cols-[auto_1fr_auto] items-center rounded-md">
          <button
            id="decrement"
            type="button"
            class="h-full rounded-r-none rounded-lg bg-my-light-grayish-blue p-5 text-my-orange justify-self-start">
            <base-icons icon_name="minus"></base-icons>
          </button>
          <span class="flex h-full items-center justify-center bg-my-light-grayish-blue text-center font-bold">
            <input
              class="w-full bg-transparent text-center"
              readonly
              type="text"
              name="quantity"
              min="1"
              value="1">
          </span>
          <button
            id="increment"
            type="button"
            class="h-full rounded-l-none rounded-lg bg-my-light-grayish-blue p-5 text-my-orange justify-self-end">
            <base-icons icon_name="plus"></base-icons>
          </button>
          <button type="submit" class="col-span-full mt-4 flex items-center justify-center gap-4 rounded-lg bg-my-orange p-5 font-bold text-my-white">
            <base-icons icon_name="cart"></base-icons>
            <span>Add to cart</span>
          </button>
        </div>
      </div>
    {% endform %}
  </product-form>
</div>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>